/node_modules
/oh_modules
/local.properties
/.idea
**/build
**/target
**/.m2
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/.settings
**/.apt_generated*
**/.classpath
**/.project
*.log
*.err.log
*.app
*.hap
*.class
